<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buffer</title>
</head>
<body>
<p>Loading...</p>
</body>
<script type="text/javascript">
    // let num = 3
    // function direct(){
    //     document.getElementById("stopwatch").innerHTML = num
    //     if(num>0){
    //         num--
    //     }
    //     else{
    //         window.location = "http://localhost:3000/item"
    //     }
    //     setTimeout("direct()", 3)
    // }
    //
    // direct()
    window.location = "http://localhost:3000/item"
</script>
</html>