<!DOCTYPE html> 
<html dir="ltr" lang="en"> 
  <head> 
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-bX07zQeCT0jvL8W+ZpUmJi1cb0NW5OvED8Wjz0qXO5JNZUaM6jM4kyA4YY61UUNh6PcGYgJr2/gihH9mKWeRig==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css"> 
   <link rel="chat-popup" href="chat.html">
    <title> 
 SpareFoodShare
    </title> 
    <header> 
        <nav>
            <a href="/"><img src="pic/logo.png" alt="ReLoad this page!" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%;" ></a>
                <ul style="display: inline-block;"></ul>
                <h2>    Reduce the waste...Share the taste ! </h2>
          </nav> 
    </header>

      <br> 
      <!--div>
        <img src="pic/header1.png" alt="Header Image" width ="1425" height="600">
      </div-->
<body>
<div class="about">
       
<h1> Contact us </h1><br>
<h3>Type your question into our virtual assistant who will help you find an answer to your question or put you in touch with our friendly customer care team.
    </h3><br><br>
    <span data-translation-id="ticket-deflection.help.title"><p class="web-12wkbvj"><span data-applanga-group="ticket-deflection" data-applanga-key="ticket-deflection.help.title"><p>Alternatively, check out our <a href="/about">Help Centre</a> for commonly asked questions and answers. </p></span></p></span>
  

<button class="web-1f4asav solvvy-support-flow-link" style="cursor: pointer;"><div class="web-3205mz"><svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Chat bubble</title><path d="M21 18C14.3726 18 9 23.3726 9 30C9 36.3775 13.975 41.593 20.2557 41.9773L17.5 53.0001L35.3752 42H52C58.6274 42 64 36.6274 64 30C64 23.3726 58.6274 18 52 18H21Z" fill="#0EC87B"></path><circle cx="25" cy="30" r="3" fill="white"></circle><circle cx="37" cy="30" r="3" fill="white"></circle><circle cx="49" cy="30" r="3" fill="white"></circle></svg></div><div class="web-3205mz"><div class="web-m9atbq"></div></div><div class="web-3205mz">Ask a question</div><div class="web-3205mz"></div></button>
</div>

</body>
<footer><nav> <ul>
 <div class="about">
   <h3>About Us</h3>
   <ul>
       <li><a href="/about">Spare Food Share</a></li><br>
       <li><a href="/help">Contact us & Help</a></li> <br>
       <li><a href="/legal">Legel & privacy Infomation</a></li>
   </ul>
   
 </div>
 <div class="social-media">
   <h3>Connect with Us</h3>
   <ul>
     <li><a href="#">Facebook</a></li> <br>
     <li><a href="#">Twitter</a></li><br>
     <li><a href="#">Instagram</a></li><br>
   </ul>
 </div>
</ul>
</nav>
<p>&copy; 2023 Spare Food Share . All rights reserved.</p>
</footer> 
 
</html>