<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<link rel="stylesheet" href="style.css">
<body>
<header>
    <nav>
        <a href="/"><img src="pic/logo.png" alt="Logo" style="width: 100px; height: 100px; border-radius: 50%;" ></a>
        <ul>
            <li>
                <h2>Reduce the waste ... Share the taste !</h2>
            </li>
            <li>
                <form action="/search" method="post">
                    <label for="search">Search: </label>
                    <input type="search" id="search" name="search" placeholder="Enter your search " autofocus>
                    <button type="submit">Go</button>
                </form>
            </li>
            <li>
                <form style="margin-left: 100px" action="/list" method="get">
                    <button>Post</button>
                </form>
            </li>
            <li>
                <form style="margin-left: 0" action="/logout" method="get">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
        <a href="/message" target="_blank">
            <span class="material-icons" style="font-size:65px;color: teal;position: absolute; top: 34px;">email</span>
        </a>
    </nav>
</header>
<br>
<header>
    <h1 style="text-align: center;">My Profile</h1>
    <br>
</header>
<main>
    <section style="display: flex; justify-content: center; align-items: center;">
        <div style="border: 2px solid rgba(8, 194, 223, 0.767); padding: 20px; display: flex; flex-direction: column; align-items: center;">
            <img src="pic/avatar.png" alt="avatar">
            <br>
            <h1>Personal Information</h1>
            <form style= "padding:50px ; margin-left: 10px">
                <label for="name">Name: {{user_name}} </label>
                <br>
                <br>
                <label for="email">Email: {{user_email}}</label>
                <br><br>
                <h2 style = "margin-left: 30px;">Items you have posted:</h2>
                <br>
                <table border="1" cellpadding="5" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Items Name</th>
                        <th>Items Pictures</th>
                        <th>Expire Date</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each posted_items}}
                    <tr>
                        <td>{{item_name}}</td>
                        <td><img src="pic/{{item_url}}" alt="{{item_url}}" width="100" height="100"></td>
                        <td>{{exp_date}}</td>
                        <td>{{item_desc}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table><br><br>

                <h2 style = "margin-left: 30px;">Items you have booked:</h2>
                <br>
                <table border="1" cellpadding="5" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Items Name</th>
                        <th>Items Pictures</th>
                        <th>Expire Date</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each booked_items}}
                    <tr>
                        <td>{{item_name}}</td>
                        <td><img src="pic/{{item_url}}" alt="{{item_url}}" width="100" height="100"></td>
                        <td>{{exp_date}}</td>
                        <td>{{item_desc}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </form>
        </div>
    </section>
    <br><br>
</main>

</body>
<footer><nav> <ul>
    <div class="about">
        <h3>About Us</h3>
        <ul>
            <li><a href="/about">Spare Food Share</a></li><br>
            <li><a href="/help">Contact us & Help</a></li> <br>
            <li><a href="/legal">Legel & privacy Infomation</a></li>
        </ul>

    </div>
    <div class="social-media">
        <h3>Connect with Us</h3>
        <ul>
            <li><a href="#">Facebook</a></li> <br>
            <li><a href="#">Twitter</a></li><br>
            <li><a href="#">Instagram</a></li><br>
        </ul>
    </div>
</ul>
</nav>
    <p>&copy; 2023 Spare Food Share . All rights reserved.</p>
</footer>
</html>